/* About Page */
#aboutBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35vh;
    background-position: center center;
    object-fit: cover;
    position: relative;
    z-index: 0;
    top: 0;
    width: 100%;
}

#whyChooseUs {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    background-color: #0d4291;
    padding: 50px 0;
    position: relative;
    z-index: 2;
    top: 0;
    width: 100%;
}

#whyChooseUs::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/header-bg-1.webp');
    z-index: -1;
    opacity: 0.05;
    mix-blend-mode: screen;
}

#our-team {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px 0;
}