/* Navbar Styles */
.AppBar {
  background-color: #f5f5f5 !important;
  height: 100px;
  padding: 10px !important;
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px !important;
}

.NavLogo {
  width: 225px;
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-grow: 1;
}

/* Hero Section */
#heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  min-height: calc(100vh - 100px);
  background-color: #0d4291;
  position: relative;
  z-index: 2;
  top: 0;
  width: 100%;
}

#heroSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../assets/header-bg-1.webp');
  z-index: -1;
  opacity: 0.05;
  mix-blend-mode: screen;
}

/* Expertise Section */
#Expertise {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
  margin: 0 auto !important;
  margin-bottom: 75px !important;
}

.webAppIcon {
  position: absolute;
  top: 65px;
  margin-left: -125px;
}

.mobAppIcon {
  position: absolute;
  top: 65px;
  margin-left: 25px;
}

.AnimeIcon {
  position: absolute;
  top: 145px;
  margin-left: -125px;
}

.webDevIcon {
  position: absolute;
  top: 145px;
  margin-left: 25px;
}

.innerCard:hover.innerCardHeading {
  color: #fff !important;
}

@media only screen and (max-width:992px) {

  .webAppIcon,
  .mobAppIcon,
  .AnimeIcon,
  .webDevIcon {
    display: none;
  }
}

#Projects,
#technology {
  display: flex;
  justify-content: center;
  align-items: center !important;
  background-color: #0d4291;
  position: relative;
  z-index: 2;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 50px 0 !important;
  padding-left: 15px !important;
  margin-top: 75px !important;
  box-sizing: border-box;
  text-align: center;
}

#Projects::before,
#technology::before,
.section-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../assets/header-bg-1.webp');
  z-index: -1;
  opacity: 0.035;
  mix-blend-mode: screen;
}

#About {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  margin: 75px auto !important;
  text-align: center;
  padding: 0 !important;
}

#partners {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  margin: 75px auto !important;
  text-align: center;
  padding: 0 !important;
}

.partners-container {
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  --paper-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12) border-radius: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
}

.slider-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin: 10px auto;

}

.partners-img {
  width: 80%;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

#contactHome {
  background: url('../assets/Landing-contact.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  align-items: center;
  z-index: 2;
  padding: 75px 0;
}

.contact-container {
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
}

.custom-input label {
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #585858;
}

.custom-input label.Mui-focused {
  color: #585858;
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.custom-select {
  font-size: 17px !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: 600 !important;
  color: #585858 !important;
}

.custom-select.MuiButtonBase-root {
  font-size: 17px !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: 600 !important;
  color: #585858 !important;
}

.section-bg {
  background: #0d4291;
}


/* Footer */
#footer {
  display: flex;
  justify-content: center;
  align-items: center !important;
  background-color: #f9f9f9;
  position: relative;
  z-index: 2;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 10px 0 !important;
  padding-left: 15px !important;
  box-sizing: border-box;
  text-align: center;
}